* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font: 13px Helvetica, Arial;
    display: flex;
    flex-flow: column;
    height: 100%;
}

#messageContainer {
    overflow-y: auto;
    flex: 1 1 auto;
}

#betChoices {
    flex: 0 1 auto;
}

.zone {
    float: left;
    overflow: auto;
}

.death {
    float: left;
    border: solid 1px;
    margin: 1px;
    width: 64px;
    height: 64px;
    overflow: hidden;
    display: flex;
}

.deathImage {
    margin: auto;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #eee;
}